
@import "_variables";
/* change the colors */
$secondary: #66cbc4;
$border-color: #262626;
$font-family-sans-serif: 'Montserrat-Alt1';

//$dark: #171515;
//$dark: #211515;
$dark: #6f9995;
$primary: $white;
//$danger: #dd0000;
//$success: lime;
//$warning: orange;
//$info: aqua;

$body-bg: #f8f7f4;



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import '~bootstrap/scss/bootstrap.scss';
@import "_bootswatch.scss";

